<!DOCTYPE html>
<html>
<head lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
        <title>Real Time Movement</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <style>
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #333;
            }
            
            li {
              float: left;
            }
            
            li a {
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }
            
            li a:hover {
              background-color: #111;
            }
        </style>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>

        

        <script type="text/javascript">
             
            var stompClient = null;
             
            function setConnected(connected) {
                document.getElementById('connect').disabled = connected;
                document.getElementById('disconnect').disabled = !connected;
            }
             
            function connect() {
                var socket = new SockJS('/real_time/data');
                stompClient = Stomp.over(socket);  
                stompClient.connect({}, function(frame) {
                    setConnected(true);
                    console.log('Connected: ' + frame);
                    stompClient.subscribe('/esp21_topic/movement', function(messageOutput) {
                        showMessageOutput(JSON.parse(messageOutput.body));
                    });

                    stompClient.subscribe('/esp21_topic/alarm', function(messageOutput) {
                        showAlarms(JSON.parse(messageOutput.body));
                    });


                });
            }
             
            function disconnect() {
                if(stompClient != null) {
                    stompClient.disconnect();
                }
                setConnected(false);
                console.log("Disconnected");

                var cv = document.getElementById("canvas");
                var cv_ctx = cv.getContext("2d");
                cv_ctx.clearRect(0,0,cv.width, cv.height);
                cv_ctx.fillStyle="#000000";
                cv_ctx.fillRect(0,0,cv.width, cv.height);
                cv_ctx.fillStyle = "#0FF000";
                
            }
             
            function showAlarms(messageOutput){
                var div_a = document.getElementById("alarms_notify");
                div_a.innerHTML('<div class="alert alert-info" id="alarm-message"> </div>');
                var alarm = document.getElementById("alarm_message");
                alarm.innerText = messageOutput["alarm"];

                setTimeout(function(){ div_a.innerHTML= "";}, 5000);
                



            } 
            function showMessageOutput(messageOutput) {

                var cv = document.getElementById("canvas");
                var cv_ctx = cv.getContext("2d");
                cv_ctx.clearRect(0,0,cv.width, cv.height);
                cv_ctx.fillStyle="#000000";
                cv_ctx.fillRect(0,0,cv.width, cv.height);
                cv_ctx.fillStyle = "#0FF000";
                var jPos = messageOutput["JointPos"];
                
                console.log(jPos);
                jPos = jPos.split(",");
                var Jpos_tmp;
                
                console.log(jPos);
                for(var i =0;i< jPos.length;i++){
                    Jpos_tmp = jPos[i].split(";");
                    cv_ctx.beginPath();
                    console.log(Jpos_tmp);
                    cv_ctx.arc(parseFloat(Jpos_tmp[0]), parseFloat(Jpos_tmp[1]), 5, 0, 2 * Math.PI);
                    cv_ctx.closePath();
                    cv_ctx.fill();   
                }

            }
            
        </script>
    </head>
    <body onload="disconnect()" style= "text-align: center;">
        <div>

            <ul>
              <li>
                <form action="#" th:action="@{/home}" id ="home_form" method="get">
                  <input type="hidden" th:name = "username" th:value = "${username}" />
                  <a onclick="submit_home()">Home</a>
                </form>
              </li>
              <li>
                <form action="#" th:action="@{/real_time}"  id ="real_form" method="get">
                  <input type="hidden"  th:name = "username" th:value = "${username}" />
                  <a onclick="submit_real()">Real Time</a>
                </form>
              </li>
              <li>
                <form action="#" th:action="@{/stored}" id ="stored_form" method="get">
                  <input type="hidden" th:name = "username" th:value = "${username}" />
                  <a onclick="submit_stored()">History</a>
                </form>
              </li>
              <li><a href="/login">LogIn</a></li>
              <li><a href="/logout">LogOut</a></li>
              <li><a href="/signup">Sign Up</a></li>



            </ul>
        </div>
         
        <div class="container">
            <div>
                <h3>Person Real Time Movement</h3>
            </div>

            <div class = "row">
                <div class="col-sm-7 col-md-10">
                    <div>
                        <canvas id="canvas" width="600" height="400"></canvas>
                    </div>
                    <br />
                    <div>
                        <button id="connect" onclick="connect();">Connect</button>
                        <button id="disconnect" disabled="disabled" onclick="disconnect();">
                            Disconnect
                        </button>
                    </div>
                    <br />
            
                </div>
                <div class="col-sm-5 col-md-2" id= "alarms_notify" name="alarms_notify">
                    
                </div>
                

            </div>
            
        </div>
        <script>
    
            function submit_home(){
            document.getElementById("home_form").submit();
            }
        
            function submit_real(){
            document.getElementById("real_form").submit();
            }
        
            function submit_stored(){
            document.getElementById("stored_form").submit();
            }
            

        </script>
    </body>
</html>