<!DOCTYPE html>
<html>
    <head lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
        <title>Real Time Movement</title>
        <script src="./js/sockjs-0.3.4.js"></script>
        <script src="./js/stomp.js"></script>
        <script>
            var start = true;
            
            function start_animation(moves_array){
                start=false;
                document.getElementById("connect").disabled = start;
                
                
                var cv = document.getElementById("canvas");
                var cv_ctx = cv.getContext("2d");
                cv_ctx.clearRect(0,0,cv.width, cv.height);
                cv_ctx.fillStyle="#000000";
                cv_ctx.fillRect(0,0,cv.width, cv.height);
                cv_ctx.fillStyle = "#0FF000";
                
                for(var j= 0; j< moves_array.lenght; j++){
                    console.log(moves_array);
                    var jPos = moves_array[i]
                    for(var i =0;i< jPos.lenght;i++){
                        cv_ctx.beginPath();
                        cv_ctx.arc(jPos[i][0], jPos[i][1], 5, 0, 2 * Math.PI);
                        cv_ctx.closePath();
                        cv_ctx.fill();   
                    }
                }
                
            }
        </script>
        <style>
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #333;
            }
            
            li {
              float: left;
            }
            
            li a {
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }
            
            li a:hover {
              background-color: #111;
            }
        </style>
    </head>
    <body style= "text-align: center;">
        <div>
           
            <ul>
              <li>
                <form action="#" th:action="@{/home}" id ="home_form" method="get">
                  <input type="hidden" th:name = "username" th:value = "${username}" />
                  <a onclick="submit_home()">Home</a>
                </form>
              </li>
              <li>
                <form action="#" th:action="@{/real_time}"  id ="real_form" method="get">
                  <input type="hidden"  th:name = "username" th:value = "${username}" />
                  <a onclick="submit_real()">Real Time</a>
                </form>
              </li>
              <li>
                <form action="#" th:action="@{/stored}" id ="stored_form" method="get">
                  <input type="hidden" th:name = "username" th:value = "${username}" />
                  <a onclick="submit_stored()">History</a>
                </form>
              </li>
              <li><a id="login" href="/login">LogIn</a></li>
              <li><a href="/logout">LogOut</a></li>
              <li><a href="/signup">Sign Up</a></li>



            </ul>
        </div>
            <div class="row">
                <div class="col-md-9">
                    <div>
                    <h3>Person Stored Movement</h3>
                    </div>
                    <div><canvas id="canvas" onload="fill()" width="600" height="400"></canvas></div>
                    <br />
                    <div>
                        <button id="connect" onclick="start_animation([[$moves]]);">Show Movement</button>
                    </div>
                </div>
                <div class="col-md-3">
                    
                    <p  th:text="${patient}"></p>
                    <br/>
                    <p  th:text="${date}"></p>
                    
                    <form action="#" th:action="@{/stored}" id ="stored_form" method="get">
                        <input type="hidden" th:name = "username" th:value = "${username}" />
                        
                        <label for="usernames" >User:</label>
                        <select id = "usernames" th:name="patient">
                           <option th:each="i : ${readings}" th:value="${i.username}" th:text="${i.username}"></option>
                        </select>
                        
                        
                        <label for="dates" >Date:</label>
                        <select if ="dates" th:name="date">
                           <option th:each="i : ${readings}" th:value="${i.date_reading}" th:text="${i.date_reading}"></option>
                        </select>
                        
                        
                        <input type="submit" value = "Submit">
                        
                    </form>
                    
                </div>
                
                <br />
            </div>   

        </div>
        <script>
        
            function submit_home(){
            document.getElementById("home_form").submit();
            }
        
            function submit_real(){
            document.getElementById("real_form").submit();
            }
        
            function submit_stored(){
            document.getElementById("stored_form").submit();
            }
        
            var c = document.getElementById("canvas");
            var ctx = c.getContext("2d");
            ctx.fillStyle = "#000000";
            ctx.fillRect(0, 0, c.width, c.height);

            ctx.fillStyle = "#0FF000";
            ctx.beginPath();
            ctx.arc(100, 75, 5, 0, 2 * Math.PI);
            ctx.closePath();
            ctx.fill();

            
            ctx.fillStyle = "#0FF000";
            ctx.beginPath();
            ctx.arc(coordx, coordy, 5, 0, 2 * Math.PI);
            ctx.closePath();
            ctx.fill();
            
            
        </script>
    </body>
</html>