<html>
    <head>
        <title>Real Time Movement</title>
        <script src="./js/sockjs-0.3.4.js"></script>
        <script src="./js/stomp.js"></script>
        <script type="text/javascript">
             
            var stompClient = null;
             
            function setConnected(connected) {
                document.getElementById('connect').disabled = connected;
                document.getElementById('disconnect').disabled = !connected;
            }
             
            function connect() {
                var socket = new SockJS('/stored/data');
                stompClient = Stomp.over(socket);  
                stompClient.connect({}, function(frame) {
                    setConnected(true);
                    console.log('Connected: ' + frame);
                    stompClient.subscribe('/topic/messages', function(messageOutput) {
                        showMessageOutput(JSON.parse(messageOutput.body));
                    });
                });

                disconnect();
            }
             
            function disconnect() {
                if(stompClient != null) {
                    stompClient.disconnect();
                }
                setConnected(false);
                console.log("Disconnected");
            }
             
            
            function showMessageOutput(messageOutput) {
                var cv = document.getElementById("canvas");
                var cv_ctx = cv.getContext("2d");
                ctx.fillStyle = "#0FF000";
                var jPos = messageOutput["jointPos"];
                for(var i =0;i< jPos.lenght;i++){
                    ctx.beginPath();
                    ctx.arc(jPos[i][0], jPos[i][1], 5, 0, 2 * Math.PI);
                    ctx.closePath();
                    ctx.fill();   
                }
            }
            
        </script>
        <style>
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #333;
            }
            
            li {
              float: left;
            }
            
            li a {
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }
            
            li a:hover {
              background-color: #111;
            }
        </style>
    </head>
    <body style= "text-align: center;">
        <div>
            <ul>
                <li>
                <form action="#" th:action="@{/home}" id ="home_form" method="get">
                    <input type="hidden" th:field="*{username}" value = ${username}/>
                    <a onclick="submit_home()">Home</a>
                </form>
                </li>
                <li>
                <form action="#" th:action="@{/real_time}" id ="real_form" method="get">
                    <input type="hidden" th:field="*{username}" value = ${username}/>
                    <a onclick="submit_real()">Real Time</a>
                </form>
                </li>
                <li>
                <form action="#" th:action="@{/stored}" id ="stored_form" method="get">
                    <input type="hidden" th:field="*{username}" value = ${username}/>
                    <a onclick="submit_stored()">History</a>
                </form>
                </li>
                <li><a th:href="/login">LogIn</a></li>
                <li><a th:href="/logout">LogOut</a></li>
                
                
            </ul>
        </div>
        <div>
            <div>
                <h3>Person Stored Movement</h3>
            </div>
            <div><canvas id="canvas" onload="fill()" width="600" height="400"></canvas></div>
            <br />
            <div>
                <button id="connect" onclick="connect();">Show Movement</button>
                
                
            </div>
            <br />
            
        </div>
        <script>
        
            function submit_home(){
            document.getElementById("home_form").submit();
            }
        
            function submit_real(){
            document.getElementById("real_form").submit();
            }
        
            function submit_stored(){
            document.getElementById("stored_form").submit();
            }
        
            var c = document.getElementById("canvas");
            var ctx = c.getContext("2d");
            ctx.fillStyle = "#000000";
            ctx.fillRect(0, 0, c.width, c.height);

            ctx.fillStyle = "#0FF000";
            ctx.beginPath();
            ctx.arc(100, 75, 5, 0, 2 * Math.PI);
            ctx.closePath();
            ctx.fill();

            
            ctx.fillStyle = "#0FF000";
            ctx.beginPath();
            ctx.arc(coordx, coordy, 5, 0, 2 * Math.PI);
            ctx.closePath();
            ctx.fill();
            
        </script>
    </body>
</html>