<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
	    <Kafka name="KafkaAlarms" topic="esp21_alarms">
	        <PatternLayout pattern="%message"/>
		    <Property name="bootstrap.servers">localhost:9092</Property>
                    <LevelRangeFilter minLevel="INFO" maxLevel="INFO"/>
	    </Kafka>
        
	  </Appenders>
     
    <Loggers>
      <Root level="all">
      </Root>
        <Logger name="pt.ua.deti.es.p21.BodyTrackingAnalysis.KafkaP" level="all"> 
          <AppenderRef ref="KafkaAlarms"/>
        </Logger>
  </Loggers>
</Configuration>
