<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Kafka name="KafkaLogs" topic="esp21_logs">
	        <PatternLayout pattern="%message"/>
		    <Property name="bootstrap.servers">192.168.160.103:9093</Property>
                    <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG"/>
	    </Kafka>
        <Kafka name="KafkaFailures" topic="esp21_failures">
	        <PatternLayout pattern="%message"/>
		    <Property name="bootstrap.servers">192.168.160.103:9093</Property>
                     <LevelRangeFilter minLevel="WARN" maxLevel="WARN"/>
	    </Kafka>
        
    </Appenders>
    <Loggers>
        <Logger name="proj.es.p21.BodyTracking.RestP" level="all" additivity="true">
            <AppenderRef  ref = "KafkaLogs" />
            <AppenderRef  ref = "KafkaFailures" />
        </Logger>
        
        <Root level="all" additivity="true">
            
        </Root>
    </Loggers>
</Configuration>