<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Kafka name="KafkaLogs" topic="esp21_logs">
	        <PatternLayout pattern="%message"/>
		    <Property name="bootstrap.servers">localhost:9092</Property>
	    </Kafka>
        <Kafka name="KafkaFailures" topic="esp21_failures">
	        <PatternLayout pattern="%message"/>
		    <Property name="bootstrap.servers">localhost:9092</Property>
	    </Kafka>
        <RollingFile name="RollingFile" fileName="logs/app.log"
                        filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="proj.es.p21.BodyTracking.RestP" level="WARN" additivity="true">
            <AppenderRef  ref = "KafkaFailures" />
        </Logger>
        <Logger name="proj.es.p21.BodyTracking.RestP" level="DEBUG" additivity="true">
            <AppenderRef  ref = "RollingFile" />
            <AppenderRef  ref = "KafkaLogs" />
        </Logger>
        
        <Root level="INFO" additivity="true">
            <AppenderRef ref="RollingFile" />
            
        </Root>
    </Loggers>
</Configuration>